<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <header class="Header" role="banner">
      <div class="Masthead">
        <a href="/"><img class="Logo" alt="Devtroit Homepage" src="/images/devtroit-logo.svg"></a>
        <!-- <nav class="Nav" role="navigation">
          <ul class="List--bare">
            <li><a href="/blog">blog</a></li>
            <li><a href="/podcast">podcast</a></li>
          </ul>
        </nav> -->
      </div>
      <h1 class="Heading--masthead"><span class="TextColor--yellow">Devtroit</span> is a community for developers and designers around Detroit.</h1>
    </header>
