$base-font-size: 1.1rem;
$selection-bg-color: $blue;
$system-heading-fonts: false;
$system-body-fonts: false;
$heading-font-stack: minion-pro-display, Garamond, 'Hoefler Text', 'Times New Roman', Times, serif;
$body-font-stack: ff-tisa-sans-web-pro, Helvetica, 'Helvetica Neue', Arial, sans-serif;
$text-margins: 0 0 1rem;
$heading-font-weight: bold;
$heading-line-height: 1.1;
