.VisuallyHidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.TextColor--blue {
  color: $blue;
}
.TextColor--blue-green {
  color: $blue-green;
}
.TextColor--yellow {
  color: $yellow;
}
.TextColor--orange {
  color: $orange;
}
.TextColor--red {
  color: $red;
}
.TextColor--white {
  color: $white;
}
.TextColor--black {
  color: $black;
}
.BackgroundColor--blue {
  background-color: $blue;
}
.BackgroundColor--blue-green {
  background-color: $blue-green;
}
.BackgroundColor--yellow {
  background-color: $yellow;
}
.BackgroundColor--orange {
  background-color: $orange;
}
.BackgroundColor--red {
  background-color: $red;
}
.BackgroundColor--white {
  background-color: $white;
}
.BackgroundColor--black {
  background-color: $black;
}

.Center {
  text-align: center;
}

.Display--flex {
  display: flex;
}

.JustifyContent--space-around {
  justify-content: space-around;
}
